<div class="w3-row-padding">
      

    <div class="w3-col s4 w3-justify">
      
      <br>
     <a href="hEx" > <i class="fa fa-snapchat w3-hover-opacity w3-large">אודות</i></a>
      <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
      <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
      <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
      <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
      <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
      <i href="hEx">אודות</i>
    </div>
  </div>
